body
{
	background: url('du.jpg') fixed;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;

}


.color
{
	align-items: center;
	background-color: black;
	padding: 30px;
	margin-left: 100px;
	margin-right: 100px;
}


h1
{
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #1d1616;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
